body{
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #111;
  overflow: hidden;
  flex-direction: column;
}

.image-container{
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(0deg);
  transition: transform .7s;
}
.image-container span{
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(calc(var(--i)*45deg)) translateZ(450px);
}

.btn-container{
  position: relative;
  width: 80%;
  margin-top: 5vw;
}
.btn{
  position: absolute;
  bottom: -80px;
  background: slateblue;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover{
  filter: brightness(1.5);
}

#prev{
  left: 20%;
}
#next{
  right: 20%;
}
.slayer{
  display: none;
}

@media (max-width: 600px) {
  body{
    max-height: 100vh;
    overflow: hidden;
  }
  .image-container{
    display: none;
  }
  .btn-container{
    display: none;
  }
  .slayer{
    height: 100vh;
    width: 100vw;
    background: lightslategrey;
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slayer h2{
    font-size: 20px;
    text-align: center;
  }

}